.body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url(../../img/login/background-img.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main-container-login {
    display: inline-grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas:
        ". . ."
        ". . ."
        ". . ."
        ". user ."
        ". password ."
        ". register . "
        ". fpw ."
        ". login ."
        ". . .";
    width: 100vw;
    height: 100vh;
}

/* user and pw input*/
.user-name {
    grid-area: user;
    margin: 2em 0 0 3em;
}

#username-input {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    color: #00A6FB;
    font-family: Jura;
    font-style: normal;
    font-weight: 550;
    font-size: 20px;
    letter-spacing: 0.4em;
    padding-left: 1em;
    cursor: text;
    outline: none;
}


#username-line {
    margin: 0.3em 0.5em 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12em;
    height: 0px;
    border: 0.04em solid #00A6FB;
}

.password {
    grid-area: password;
    margin: 2em 0 0 2em;
}

#password-input {
    background: transparent;
    border: none;
    color: #00A6FB;
    font-family: Jura;
    font-style: normal;
    font-weight: 550;
    font-size: 20px;
    letter-spacing: 0.6em;
    padding-left: 1em;
    cursor: text;
    outline: none;

}


#password-line {
    margin: 0.3em 1em 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14em;
    border: 0.04em solid #00A6FB;

}

.login-button {
    grid-area: login;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*register button*/
.register {
    /* register */
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    height: 5%;
    left: 33.9%;
    top: 53.46%;
    font-family: Jura;
    font-style: normal;
    font-weight: 550;
    font-size: 18px;
    letter-spacing: 0.5em;
    color: #00A6FB;
    
}
/*forget pw link*/
.forgetPw {
    display: flex;
    align-items: center;
    text-align: center;
    grid-area: fpw;
    font-family: Jura;
    font-style: normal;
    font-weight: 550;
    font-size: 13px;
    line-height: 50px;
    letter-spacing: 0.2em;
    color: #00A6FB;
    position: absolute;
    height: 5%;
    left: 32.9%;
    top: 58.46%;
}

.register-modal {
    display: none;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
        ". . ."
        ". . ."
        ". . ."
        ". userRegister ."
        ". emailRegister ."
        ". pwRegister . "
        ". submit ."
        ". back .";
    width: 100vw;
    height: 100vh;
}


/*register inputs*/
.username-register {
    grid-area: userRegister;
}

.email-register {
    grid-area: emailRegister;
}

.pasword-register {
    grid-area: pwRegister;
}

.submit-button {
    grid-area: submit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-button {
    grid-area: back;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1em 2em 6em;

}

.register-username-line {
    margin: 0.25em 0 0 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11em;
    height: 0px;
    border: 0.04em solid #00A6FB;
}


.register-email-line {
    margin: 0.25em 0 0 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11em;
    height: 0px;
    border: 0.04em solid #00A6FB;
}

.register-password-line {
    margin: 0.25em 0 0 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11em;
    height: 0px;
    border: 0.04em solid #00A6FB;
}

#username-input-register,
#email-input,
#password-input-register {
    background: transparent;
    border: none;
    color: #00A6FB;
    font-family: Jura;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.6em;
    margin-bottom: auto;
    padding-left: 0.7em;
    cursor: text;
    outline: none;
}