.body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url(../../img/login/Slice\ 1.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main-container-login {
    display: inline-grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
        ". . ."
        ". . ."
        ". . ."
        ". user ."
        ". password ."
        ". register . "
        ". login ."
        ". . .";
    width: 100vw;
    height: 100vh;
}

/* user and pw input*/
#username-input,
#password-input {
    background: transparent;
    border: none;
    color: #00A6FB;
    font-family: Jura;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.6em;
    margin-bottom: auto;
    padding-left: 0.7em;
    cursor: text;

}

.user-name {
    grid-area: user;
    margin: 6em 0 0 0.5em;
    border-width: 0px;
    border: none;
}

.user-name {
    cursor: pointer;
    text-shadow: 0px 0px 30px #00A6FB;
    transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.line-username {
    display: flex;
    margin: 0.25em;
    justify-content: center;
    align-items: center;
    height: 0px;
    width: 11em;
    border: 0.03em solid #00A6FB;
    background-color: #00A6FB;
}

.password {
    grid-area: password;
    margin: 3em 0 0 0.5em;
}

#password-line {
    margin: 0.25em 0 0 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11em;
    height: 0px;
    border: 0.04em solid #00A6FB;

}

.login-button {
    grid-area: login;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*register button*/
.register {
    grid-area: register;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Jura;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 0.6em;
    padding-left: 0.1em;
    border-width: 0px;
    border: none;
    color: #00A6FB;
}

.register-modal {
    display: none;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
        ". . ."
        ". . ."
        ". . ."
        ". userRegister ."
        ". emailRegister ."
        ". pwRegister . "
        ". . .";
    width: 100vw;
    height: 100vh;
}

.go-button {
    position: absolute;
    width: 75px;
    height: 75px;
    left: 0px;
    top: 0px;
}

/*register inputs*/
.username-register {
    grid-area: userRegister;
}

.email-register {
    grid-area: emailRegister;
}

.pasword-register {
    grid-area: pwRegister;
}

.register-username-line {
    margin: 0.25em 0 0 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11em;
    height: 0px;
    border: 0.04em solid #00A6FB;
}


.register-email-line {
    margin: 0.25em 0 0 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11em;
    height: 0px;
    border: 0.04em solid #00A6FB;
}

.register-password-line {
    margin: 0.25em 0 0 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11em;
    height: 0px;
    border: 0.04em solid #00A6FB;
}

#username-input-register,
#email-input,
#password-input-register {
    background: transparent;
    border: none;
    color: #00A6FB;
    font-family: Jura;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.6em;
    margin-bottom: auto;
    padding-left: 0.7em;
    cursor: text;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}