.body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #003554;
}

.main-container-landing-page {
  display: inline-grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    "hd hd hd"
    "next next next"
    "work work work"
    "com com com"
    "add add add"
    "new . ."
  ;
}

.header-container {
  grid-area: hd;
}

.next-in-line {
  margin: 0 10px 0 10px;
  grid-area: next;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;

}

.workinprogress {
  grid-area: work;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  margin: 0 10px 0 10px;
}
.complited-step {
  grid-area: com;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  margin: 0 10px 0 10px;
}

.new-button {
  grid-area: new;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 3.38%;
  right: 68.6%;
  top: 91.49%;
  bottom: 3.35%;

}



.add-container {
  grid: add;
  position: absolute;
  left: 39.13%;
  right: 40.34%;
  top: 87.28%;
  bottom: 3.24%;

}

button {
  background-color: transparent;
  border: none;
  outline: none;
}


.new-mission {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.floating-main-card {
  background-image: #048BA8;
  border-radius: 4px;
  margin: 20px 20px 10px 30px;
  height: 100px;
  width: 500px;
  padding: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  color: #444;
  z-index: 1;
}

.floating-main-card:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);

}

/*Float card content and progress bar*/
.progressbar {
  counter-reset: step;
}

.progressbar li {
  list-style-type: none;
  float: left;
  width: 20%;
  position: relative;
  text-align: center;
}

.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  line-height: 20px;
  width: 20px;
  height: 20px;
  margin: 0 auto 10px auto;
  border: 2px solid rgb(255, 255, 255);
  display: block;
  text-align: center;
  border-radius: 50%;
  background-color: white;
  z-index: -1;
}

.progressbar li:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  top: 10px;
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child::after {
  content: none;
}

/* .progressbar li.active { 
  color: rgb(68, 223, 107);
} */
.progressbar li.active:before {
  background-color: linear-gradient(#56ab2f → #a8e063);

}

/*modal css*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: grid;
  margin: 10% auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
}

.modal-header {
  background: var(--modal-color);
  padding: 15px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body {
  padding: 10px 20px;
  background: #fff;
}

.modal-footer {
  background: var(--modal-color);
  padding: 10px;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}